@ai-sdk/openai
@heroicons/react
@radix-ui/react-dialog
@radix-ui/react-progress
@radix-ui/react-slot
ai
class-variance-authority
clsx
cmdk
next
openai-edge
react
react-dom
react-icons
shadcn-ui
tailwind-merge
tailwindcss-animate
zustand 